@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'),
         local('OpenSans-Light'),
         url('opensanslight.woff2') format('woff2'),
         url('opensanslight.woff') format('woff'),
         url('opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light Italic'),
         local('OpenSansLight-Italic'),
         url('opensanslightitalic.woff2') format('woff2'),
         url('opensanslightitalic.woff') format('woff'),
         url('opensanslightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
         local('OpenSans'),
         url('opensans.woff2') format('woff2'),
         url('opensans.woff') format('woff'),
         url('opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'),
         local('OpenSans-Italic'),
         url('opensansitalic.woff2') format('woff2'),
         url('opensansitalic.woff') format('woff'),
         url('opensansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'),
         local('OpenSans-Semibold'),
         url('opensanssemibold.woff2') format('woff2'),
         url('opensanssemibold.woff') format('woff'),
         url('opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold Italic'),
         local('OpenSans-SemiboldItalic'),
         url('opensanssemibolditalic.woff2') format('woff2'),
         url('opensanssemibolditalic.woff') format('woff'),
         url('opensanssemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'),
         local('OpenSans-Bold'),
         url('opensansbold.woff2') format('woff2'),
         url('opensansbold.woff') format('woff'),
         url('opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'),
         local('OpenSans-BoldItalic'),
         url('opensansbolditalic.woff2') format('woff2'),
         url('opensansbolditalic.woff') format('woff'),
         url('opensansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold'),
         local('OpenSans-Extrabold'),
         url('opensansextrabold.woff2') format('woff2'),
         url('opensansextrabold.woff') format('woff'),
         url('opensansextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold Italic'),
         local('OpenSans-ExtraboldItalic'),
         url('opensansextrabolditalic.woff2') format('woff2'),
         url('opensansextrabolditalic.woff') format('woff'),
         url('opensansextrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

section#services {
    background-color: #012;
}
.nopointer{
  pointer-events: none;
}

a {
  color: #00B906;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #00B906;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h2, h3 {
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #00B906;
}

::-moz-selection {
  color: #fff;
  background: #00B906;
}

::selection {
  color: #fff;
  background: #00B906;
}


.btn {
  margin-right: 4px;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active{
  box-shadow: none !important;
  outline: none !important;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}


html,
body {
    color: #565656;
    width: 100%;
    padding: 0;
    margin:0;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}

img {
    max-width: 100%;
}

h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}

.btn {
    border: 1px solid #fff;
    display: inline-block;
    min-width: 160px;
    padding: .9em;
    height: 57px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 0px;
}
.btn:hover {
    background-color:rgba(228, 211, 0, 0.95);
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}

/* navbar section */
.navbar-brand>img {
    max-width: 80%;
}
.navbar-brand {
    padding: 0 0;
}

.main_top_area h3{
    color:#fff;
    font-size:3rem;
    margin-bottom:0;
}
.main_top_area p{
    font-size:1.875rem;
    color:#fff;
    margin-bottom:40px;
}

.main_top_area{
    padding: 250px 0px;
    text-align: center;
}

/*our dapps section*/
.dapps{
    background: #ccc;
}
.services_overlay{
    padding: 90px 0px 100px 0px;
}
.dapps_overlay{
    padding: 90px 0px 100px 0px;
}
.community_overlay{
    padding: 90px 0px 100px 0px;
}
.exchanges_overlay{
    padding: 90px 0px 100px 0px;
}
.docs{
    background: #363855;
}

.docs .docswithmap_menu h2{
    font-size:1.125rem;
    color:#fff;

}

.docs .docswithmap_menu ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.docs .docswithmap_menu ul li{}
.docs .docswithmap_menu ul li a{
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;

}
.docs .docswithmap_menu ul li:hover a{
    color: #ffe13e;
    border-bottom: 1px solid #ffe13e;
}
.footer{
    overflow: hidden;
    padding: 20px 0px;
    background: #363855;
}
.footer p{
    color:#fff;
}

#particles-js{
  position:absolute; width: 100%;
  height: 100%;
  background-color: #0f0708;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.showpointer{
     pointer-events: all;
}

.greybg{
  background-color:#ccc;
}
.col-md-8 {
   -moz-hyphens:auto;
   -ms-hyphens:auto;
   -webkit-hyphens:auto;
   hyphens:auto;
   word-wrap:break-word;
}

.layout{
  height: unset !important;
}
.wallets{
    background: linear-gradient(#283048 40%, #ccc 100%, rgba(255, 255, 255, 0));

}
.services{
  background: linear-gradient(#ccc 40%, #9999ff 100%, rgba(255, 255, 255, 0));
}
.dapps{
  background: linear-gradient(#9999ff 40%, #404040 100%, rgba(255, 255, 255, 0));
}
.community{
  background: linear-gradient(#404040 40%, #ccc 100%, rgba(255, 255, 255, 0));
  padding: 0 0 50px 0;
}
.exchanges{
  background: linear-gradient(#ccc 40%, #ccc 100%, rgba(255, 255, 255, 0));
  padding: 0 0 50px 0;
}
.donate{
  /* background-color:#000002; */
  background: linear-gradient(#ccc 40%, #363855 100%, rgba(255, 255, 255, 0));
  padding-bottom: 0;
}

body {
  background: #ccc;
}
.services h3, .services p, .services a{
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}



.walletstyle{
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.wallets h3{
  font-size: 2rem;
}
.walletstyle:hover, .walletstyle.active {
    background-color: #4CAF50;
    color: white;
}

.navigation-drawer, .toolbar--fixed{
  position: absolute;
}
#app{
  position: relative;
}
.anouncements table.table thead tr{
  height: auto;
}
.anouncements table.table thead{
  height: auto;
}
.anouncements table.table tbody td, .anouncements table.table tbody th{
  height: auto;
}
.ann-padding {
   padding: 0 !important;
   margin: 0 !important;
   height: auto;
}
#anouncements{
  background-color: #000002;
}
.bot-0{
  bottom:0px;
}

.alice{
  color: aliceblue;
}

.underline{
  width: 50%;
  height: 4px;
  background-color: black;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*Animated Navigation*/
.nav {
  margin: 0.1rem 0 0.1rem;

}

/*  ## MENU BORDER ANIMATION */
@media only screen and (min-width: 480px) {
/* TOP border animation on hover*/
.mouse .nav nav a:before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  border-radius: 1px;
  width: 0;
  height: 1px;
  background: hsla(0, 50%, 30%, 0);
  transition: all .5s ease-in-out;
}

.mouse .nav nav a:hover:before {
  left: .4rem;
  width: calc(100% - (.4rem * 2));
  background: hsla(0, 50%, 50%, 1);
}
 .nav nav a:first-child:after {
  left: 200%;
}

.nav nav a:last-child:after {
  left: -100%;
}
}

/* BOTTOM border animation on item active and hover*/
.nav nav a:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  border-radius: 1px;
  width: 0;
  height: 3px;
  background: hsla(0, 50%, 30%, 0);
}

.nav nav a.active:after {
  left: .4rem;
  width: calc(100% - (.4rem * 2));
  background: hsla(0, 50%, 30%, 1);
  transition: all .5s ease-in-out;
}

.nav nav a.active:hover:after {
  left: .4rem;
  width: calc(100% - (.4rem * 2));
  background: hsla(0, 50%, 50%, 1);
}

@media only screen and (max-width: 480px) {
  .nav nav {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
  }
  a.menu-item {
    max-width: 12ex;
    padding: 0;
  }
}

@media only screen and (max-width: 750px) {
  .nav nav {
    justify-content: space-around;
  }
    a.menu-item {
    margin: 0;
  }
}



.navbar-light .navbar-nav .nav-link{
  position: relative;
}

#mouse{
    margin-left:auto;
  margin-right:0;
}

.community .community-text-link p, .community .community-text-link h3{
  margin-bottom: 0;
}

.service-collection p, .service-collection h3, .service-collection a{
        text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.brand-icon-size{
          text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size: 100px;
}

.main_top_area .single_slider a{
  line-height: 1.0 !important;
}

#canvasOne{
  overflow-x: hidden;
}
.sitewrapper {
    overflow: hidden;
    position: relative;
  }
.dappoverlay{
  position: fixed;
  top: 90px;
  left: 20px;
  right: 20px;
  bottom: 15px;
  z-index: 10;
  background-color: #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
}
.overlay-img-div{
	position: relative;
	width: 140px;
	margin-left: 30px;
	margin-top: 30px;
}
.overlay-text{
	position: relative;
	margin-left: 30px;
	margin-top: 30px;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: red;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.pointer {
	cursor: pointer;
}
.shadow-w{
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.link-community{
	color:white;
}

.community-title {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
.community-text-link{
	line-height: 1.5rem;
    font-size: 1.1rem;
}

/*Animated progression bar*/

.progress {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
}
.progress.progress-xs {
  height: 5px;
  margin-top: 5px;
}
.progress.progress-sm {
  height: 10px;
  margin-top: 5px;
}
.progress.progress-lg {
  height: 25px;
}
.progress.vertical {
  position: relative;
  width: 20px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}
.progress.vertical > .progress-bar {
  width: 100% !important;
  position: absolute;
  bottom: 0;
}
.progress.vertical.progress-xs {
  width: 5px;
  margin-top: 5px;
}
.progress.vertical.progress-sm {
  width: 10px;
  margin-top: 5px;
}
.progress.vertical.progress-lg {
  width: 30px;
}
.progress-bar {
  background-color: #2196f3;
  box-shadow: none;
}
.progress-bar.text-left {
  text-align: left;
}
.progress-bar.text-left span {
  margin-left: 10px;
}
.progress-bar.text-right {
  text-align: right;
}
.progress-bar.text-right span {
  margin-right: 10px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress.active .progress-bar, .progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-striped .progress-bar, .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress-bar-secondary {
  background-color: #323a45;
}
.progress-bar-default {
  background-color: #b0bec5;
}
.progress-bar-success {
  background-color: #64dd17;
}
.progress-bar-info {
  background-color: #29b6f6;
}
.progress-bar-warning {
  background-color: #ffd600;
}
.progress-bar-danger {
  background-color: #ef1c1c;
}
.specifications p{
  margin: 0;
}
.roundImage{
  border-radius: 50%;
  border: 3px solid black;
}
.fa-linkedin:hover{
  color: #fff;
}
.fa-linkedin{
  color: #4875B4;
}
.fa-facebook:hover{
  color: #fff;
}
.fa-facebook{
  color: #3b5998;
}
.fa-telegram:hover{
  color: #fff;
}
.fa-telegram{
  color: #0088cc;
}
.socialIcon{
  display:inline-block;
}
.trelloLink:hover{
  color:white;
}