header#main_menu.header.fixed-top
	.row.bg-light
		.col-sm-1.float-left
			Sidebar
		.col-sm-10
			nav.navbar.navbar-light.navbar-expand-md(id='#navmenu')
				button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					| ☰
				a.navbar-brand(href='/')
					img(src='/assets/logo.png')
				#mouse.mouse
					#bs-example-navbar-collapse-1.collapse.navbar-collapse.nav.navbar-nav.ml-auto
						nav.nav.navbar-nav.ml-auto
							a.nav-link.nav-item#nav-roadmap(href='#main_menu')
							a.nav-link.nav-item#nav-roadmap(href='#roadmap') Roadmap
							a.nav-link.nav-item#nav-wallets(href='#wallets') Wallets
							a.nav-link.nav-item#nav-services(href='#services') Services
							a.nav-link.nav-item#nav-dapps(href='#dapps') Dapps
							a.nav-link.nav-item#nav-community(href='#community') Community
							a.nav-link.nav-item#nav-exchanges(href='#exchanges') Exchanges
							a.nav-link.nav-item#nav-pools(href='#pools') Pools
							a.nav-link.nav-item#nav-roadmap(href='#footer')
		.col-sm-1
			Sidebar